.footer {
    display: flex;
    padding: 80px;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(to right, aqua, rgb(11, 87, 138));
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}