.footer {
    display: flex;
    padding: 80px;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    background: #78663C;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}